/*
 * Project Name: MiniManager for Trinity Server
 * Date: 17.10.2006 inital version (0.0.1a)
 * Author: SixSixNine
 * Copyright: SixSixNine
 * Email: *****
 * License: GNU General Public License (GPL)
 */
html{
	overflow-x:auto;	/* fixes MSIE scrollbar bug DO NOT REMOVE,has no effect in Mozilla,or Opera */
						/* http://www.blooberry.com/indexdot/css/properties/position/overflowx.htm */
}
html,body{
	background-color:#76827B;
	color:#000000;
	height:100%;
	padding:0;
	margin:0;
	font:9pt Verdana,sans-serif;
	cursor:default;
}

a:link, a:visited{ color: #22427E; text-decoration: none }
a:hover, a:focus{ color: #A47236; text-decoration: none }

.table_top {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-collapse: collapse;
	width: 845px;
	height:120px;
}
.table_top_left {
	background-image: url(logo_l.gif);
	background-repeat: no-repeat;
	width: 500px;
}

.table_top_middle {
	background-image: url(logo_m.gif);
	text-align: right;
	width: 298px;
}

.table_top_right {
	background-image: url(logo_r.gif);
	background-repeat: no-repeat;
	width: 47px;
}

/*********** MENU BAR***********/
#menubar {
	position:relative;
	left:25px;
	top:81px;
	z-index:100;
	width: 36em; /*total len*/
	text-align: left;
}

#menuwrapper {
	font:10pt Verdana,sans-serif;
}

#menubar, #menubar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 160%;
}

#menubar a {
	display: block;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	border-right: 1px solid #5f7797;
	font-size: .85em;
	color: #A47236; /*main menu text color*/
}
#menubar a.trigger {
	padding: 5px 15px 5px 15px;
}
#menubar li {
	float: left;
	width: 9em;
}
#menubar li {position: relative;}
/* hide from IE mac \*/
#menubar li {position: static; width: auto;}
/* end hiding from IE5 mac */
#menubar li ul, #menubar ul li  {
	width: 11em; /*submenu len*/
}
#menubar ul li a  {
	color: #A47236;
	border-right: 0;
	padding: 3px 12px 3px 15px;
}
#menubar li ul {
	position: absolute;
	display: none;
	background-color: #485856; /*submenu bg color*/
	border-right: 1px solid #5f7797;
	border-bottom: 1px solid #5f7797;
}
#menubar li:hover a, #menubar a:focus,
#menubar a:active, #menubar li.hvr a {
	color: #A47236; /*menu selected text color*/
	background-color: #485856; /*menu selected bg color*/
}
#menubar li:hover ul, #menubar li.hvr ul {
	display: block;
}
#menubar li:hover ul a, #menubar li.hvr ul a {
	color: #A47236; /*submenu text color*/
	background-color: transparent;
}
#menubar ul a:hover {
	background-color: #76827B !important; /*submenu selected bg color*/
	color: #22427E !important; /*submenu selected text color*/
}

/*********** MENU BAR END***********/

#username {
	position:relative;
	top:37px;
	z-index:20;
	color:#98A8A3;
	font:12pt Verdana,sans-serif;
}

#realm {
	position:relative;
	top:10px;
	z-index:20;
	color:#98A8A3;
	font:12pt Verdana,sans-serif;
}

#version {
	position:absolute;
	left:48%;
	top:122px;
	z-index:10;
	color:#000000;
	font:8pt Verdana,sans-serif;
}

#link1{
	position:absolute;
	right:21%;
	top:22px;
	z-index:10;
	font:12pt Verdana,sans-serif;
}

#link2 {
	position:absolute;
	right:16%;
	top:22px;
	z-index:10;
	font:12pt Verdana,sans-serif;
}

#link3 {
	position:absolute;
	right:12%;
	top:22px;
	z-index:10;
	font:12pt Verdana,sans-serif;
}

h1{
    margin:0px;
    font:16pt Trebuchet MS,sans-serif;
    font-weight:bold;
    color:#414D4C;
	line-height:1.2em;
}
form {
	margin: 0px;
}

input, input.mouseover, a.button {
	border-width: 1px;
	border-style: solid;
	border-color: #76827B;
	background:#76827B;
	font:10pt Verdana,sans-serif;
	font-weight: bold;
	line-height:100%;
}
input {
    background:#869c8f;
    color:#414D4C;
    padding:2px 1px;
	margin-right: 2px;
	margin-left: 2px;
}
select,textarea{
	border:1px solid #76827B;
	background-color: #b2c2b9;
	}
img {
	border: 0px;
	padding: 0px;
}
input[type="radio"],input[type="checkbox"]{
	background:#b2c2b9;
	border:0px;
}
a.button {   
	background:#869c8f;
	color: #414D4C;
	padding:4px 2px;
	text-decoration: none;
	text-align: center;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
}
a.button:visited{   
	background-color: #869c8f; 
	color: #414D4C;
}
a.button:hover{   
	background-color: #76827B; 
	color: #d4ddd8;
}
a.button:active, a.button:focus {   
	border-color: #76827B;
}
a[type="wrn"].button:hover{
	background-color:#4a1a1a;
	background-image:url(../../../img/sml_warn.png);
	background-repeat:no-repeat;
	background-position: 99% 1px
}
a[type="def"].button:hover{
	background-color:#1a4a1a;
	background-image:url(../../../img/sml_tick.png);
	background-repeat:no-repeat;
	background-position: 99% 1px
}

fieldset{
	position: relative;
	margin-top:20px;
	padding-top:20px;
	padding-bottom:10px;
	top: 5px;
	background-color: #b2c2b9;
	border: 1px solid #374341;
}

fieldset.half_frame{
	width: 550px;
}

fieldset.tquarter_frame{
	width: 680px;
}

fieldset.full_frame{
	width: 760px;
}

legend{
	margin-top:-5px;
	color: #374341;
	background-color: #b2c2b9;
	border: 1px solid #374341;
	padding: 2px 6px;
	position:absolute;
	top: -15px;
	left: 5px;
}

/*****TABLES******/

table.flat {
	border-width: 5px;
	border-spacing: 5px;
	border-style: none;
	border-collapse: collapse;
	background-color: #b2c2b9;
	text-align: left;
}

table.flat td {
	padding: 5px;
}

table.hidden {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-collapse: collapse;
	text-align: center;
}

table.top_hidden {
	width: 770px;
	border: 0px none #d4ddd8;
	border-spacing: 0px;
	border-collapse: collapse;
	text-align: left;
}

table.top_hidden td, table.hidden td {
	padding: 4px 0px;
}

table.lined {
	width: 770px;
	border-collapse: collapse;
	text-align: center;
}
table.lined, table.lined td, table.lined td.hidden, table.lined th{
	border: 1px solid  #d4ddd8;
	padding: 5px;
}
table.lined th{
	background-color: #374341;
	font-weight: bold;
	font-size: 11px;
	color:#d4ddd8;
	padding: 5px;
}
table.lined th a:link, table.lined th a:visited{
 color:#d4ddd8;
}
 table.lined th a:hover,table.lined th a:focus{ 
	color: #A47236;
	text-decoration: none;
}
table.lined td{
	background-color: #b2c2b9;
}
table.lined td.hidden {
	background-color: transparent;
}
tr td div.gradient_p,div.gradient_pp{
	float: left;
	clear: right;
	display: table-cell;
	text-align: right;
	padding: 1px 5px;
}
tr td div.gradient_p{
	background-color:#b2c2b9;
	width: 120px;
}
tr td div.gradient_pp{
	background-color:#d4ddd8;
	width: 70px;
}
img.bag_icon {
	float: left;
	width: 24px; 
	height: 24px;
	border: 1px solid #585858;
	margin-left: 5px;
}

tr td.bag div,
tr td.bank div {
	position: relative;
	border: 0px;
	margin: 2px;
	background-image: url(../../../img/INV/Slot_Bag.gif);
	background-repeat: repeat;
	background-color: #242424;
}
tr td.bank div {
	background-image: url(../../../img/INV/Slot_Bank.gif);
	background-color: #858585;
}
tr td.bag div div,
tr td.bank div div{
	position: absolute;
	background: none;
}
tr td.bag div div img,
tr td.bank div div img{
	border: 0px;
	padding: 1px;
	width: 35px; 
	height: 35px;
}
tr td.bag div.no_slot,
tr td.bank div.no_slot{
	position: absolute;
	margin: 0px;
	width: 86px;
	height: 41px;
	background-image: url(../../../img/INV/Slot_Bag_Out.gif);
}
tr td.bank div.no_slot{
	background-image: url(../../../img/INV/Slot_Bank_Out.gif);
}

/*****TABLES END******/

#body_main {
	position:absolute;
    left: 50%; 
    top: 150px;
    width: 800px;
    margin-left: -400px; /* half of the width */
	line-height: 120%;
	text-align: center;
	font-size: 11px;
	color:#000000;
}

.error {
	color:#990000; 
}

.bold {
	font:13pt Trebuchet MS,sans-serif;
	font-weight:bold;
}

.small {
	font-size: 8px;
}
	
.large_bold {
	font-size: 13px;
	font-weight:bold;
}

.large {
	font-size: 13px;
}

.half_line {
	font-size: 12px;
	line-height:1.6em;
}
/*****BUBBLE******/

div.bubble {
	position:relative;
    padding:7px 0px;
    background-color:#d4ddd8;
    margin-bottom:15px;
	text-align: left;
}

div.bubble div.top {
	text-align: center;
	background-color:#b2c2b9;
	padding:7px 15px;
    margin:-7px -0px 12px -0px;
}

i.tl, i.tr, i.bl, i.br {
	position:absolute;
    width:4px;
    height:4px;
    overflow:hidden;
    z-index:30;
}

i.tl {
    top:0px;
    left:0px;
    background:url(tr.gif);
}

i.tr {
    top:0px;
    right:0px;
    background:url(tl.gif);
}

i.bl {
    bottom:0px;
    left:0px;
    background:url(br.gif);
}

i.br {
    bottom:0px;
    right:0px;
    background:url(bl.gif);
}
/*****BUBBLE END******/

#body_buttom {
	font:8pt Verdana,sans-serif;
	text-align: center;
	color:#98A8A3;
}

.table_buttom {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-collapse: collapse;
	width: 800px;
	height:100px;
}
.table_buttom_left {
	background-image: url(bottom_l.gif);
	width: 6px;
}
.table_buttom_middle {
	background-image: url(bottom_m.gif);
	width: 784px;
}
.table_buttom_right {
	background-image: url(bottom_r.gif);
	width: 6px;
}

#body_buttom a:link, #body_buttom a:visited {
    color:#C0D0CA;
    text-decoration:none;
}
#body_buttom a:hover, #body_buttom a:focus {
    text-decoration:underline;
} 
.logo_border {
	border: 1px solid #565656;
	background-color: #2a2a2a;
	padding: 6px;
}

.icon_border_0 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../../img/INV/icon_border_0.png)
}

.icon_border_1 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../../img/INV/icon_border_1.png)
}

.icon_border_2 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../../img/INV/icon_border_2.png)
}

.icon_border_3 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../../img/INV/icon_border_3.png)
}

.icon_border_4 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../../img/INV/icon_border_4.png)
}

.icon_border_5 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../../img/INV/icon_border_5.png)
}

.icon_border_6 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../../img/INV/icon_border_6.png)
}

/*** graphs and bars ***/
.bargraph {
	font:9pt Verdana,sans-serif;
	color: #000000;
	border-collapse: collapse;
	width: 720px;
}
.bargraph td {
	padding:0;
	margin:0;
	vertical-align:bottom;
	text-align:center;
	background: url(gridline.gif) 15px bottom;
}
.bargraph th {
	background: #d4ddd8;
}

a.graph_link:link, a.graph_link:visited{ color: #000000; text-decoration: none }
a.graph_link:hover, a.graph_link:focus{ color: #A47236; text-decoration: none }

.bargraph img{
	display:block;
	border: 1px solid #000;
}

table.stat_hidden {
	width: 720px;
	border-spacing: 2px;
	border-collapse: collapse;
	text-align: left;
}

.tot_bar {
	width: 730px;
	border:1px solid #000000;
	padding:10px;
	border-collapse: collapse;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
}
.tot_bar a:link, .tot_bar a:visited{ color: #000; text-decoration: none }
.tot_bar a:hover, .tot_bar a:focus{ color: #A47236; text-decoration: none }

tr td.bar{
	width: 385px;
	background-repeat: no-repeat;
	background-position: -385px;
	padding: 1px;
}
tr td.bar span{
	float: left;
	width:60%;
	text-align:right;
	margin-top: 3px;
}
tr td.skill_bar{
	background-image: url(../../../img/bar_skill.png);
}

.faction-bar{border:1px solid black;width:100%;text-align:left;height:16px;background:url('../../../img/bar_empty.gif') repeat-x;position:relative}
span.rep-data{position:absolute;width:100%;text-align:center;color:white;text-decoration:none !important;white-space:nowrap}
.bar-color{width:100%;height:16px}
.rep7 .bar-color{background:url('../../../img/bar_exalted.gif') repeat-x}
.rep6 .bar-color{background:url('../../../img/bar_revered.gif') repeat-x}
.rep5 .bar-color{background:url('../../../img/bar_honored.gif') repeat-x}
.rep4 .bar-color{background:url('../../../img/bar_friendly.gif') repeat-x}
.rep3 .bar-color{background:url('../../../img/bar_neutral.gif') repeat-x}
.rep2 .bar-color{background:url('../../../img/bar_unfriendly.gif') repeat-x}
.rep1 .bar-color{background:url('../../../img/bar_hostile.gif') repeat-x}
.rep0 .bar-color{background:url('../../../img/bar_hated.gif') repeat-x}
tr td.rep7 {color:cyan}
tr td.rep6 {color:#00ffcc}
tr td.rep5 {color:#00ff88}
tr td.rep4 {color:lime}
tr td.rep3 {color:yellow}
tr td.rep2 {color:#ee6622}
tr td.rep1 {color:red}
tr td.rep0 {color:#cc2222}

/*** link tabs ***/
#tab ul {
	padding: 0px 30px;
	margin: 0px;
	list-style: none;
}
#tab li {
	float: left;
	border: 1px solid #bbb;
	border-bottom-width: 0;
}
#tab a {
	display: block;
	background: #d4ddd8;
	padding: 1em 2em;
}
#tab a:hover {
	background: #b2c2b9;
}	
#tab  #selected {
	border-color: black;
}
#tab #selected a {
	position: relative;
	top: 1px;
	background: #b2c2b9;
	font-weight: bold;
	padding: 1em 1.5em;
}
#tab_content {
	padding: 10px;
	border: 1px solid black;
	background: #b2c2b9;
	width: 740px;
	clear: both;
}

#tab_content2 {
	padding: 10px;
	border: 1px solid #d4d4d4;
	background: #484848;
	width: 700px;
	clear: both;
}

/*** Java layer tabs ***/
.jtabs {
	margin: 0;
	padding: 0px 0px 0px 30px;
	list-style: none;
}
.jtabs li {
	float: left;
}
.jtabs a.jtab-disabled:hover, .jtabs a.jtab-active {
	background: #b2c2b9;
	border-bottom-color: #b2c2b9;
}
.jtabs a.jtab-disabled {
	background: #d4ddd8;
	border: 1px solid #bbb;
	border-bottom-width: 0;
}
.jtabs a  {
	position: relative;
	top: -25px;
	background: #b2c2b9;
	font-weight: bold;
	padding: 1em 1.3em;
	margin: 0px;
	border: 1px solid #000;
	text-decoration:none;
}
.jtab-container {
	padding: 0px;
	border: 1px solid black;
	background: #b2c2b9;
	width: 760px;
	clear: both;
}
.jtab-panes { margin: 3px }

/*** item tooltips***/
.item_tooltip  td{
	float: none;
	font-size: 11px;
	color: #d4d4d4;
	border:1px solid #F0D070;
	padding:10px;
	width:auto;
	background-color:#000;
	text-align: left;
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:0.80;
}
.info_tooltip  td{
	float: none;
	font-size: 11px;
	color: #d4d4d4;
	border:0px solid #F0D070;
	padding:10px;
	width:240px;
	background-color:#000;
	text-align:left;
	filter:alpha(opacity=85);
	-moz-opacity:.85;
	opacity:0.85;
}
.answerbox {
	font-size: 11px;
	color: #d4d4d4;
	border:1px solid #F0D070;
	padding:10px;
	width:auto;
	background-color:#000;
	text-align:center;
	filter:alpha(opacity=85);
	-moz-opacity:.85;
	opacity:0.85;
}
.answerbox th {
	font:16pt Trebuchet MS,sans-serif;
    font-weight:bold;
	color:#f6b620;
	line-height:1.2em;
}
.answerbox td a {
	float:none;
	display: block;
}
