/*
 * Project Name: MiniManager for Mangos Server
 * Date: 17.10.2006 inital version (0.0.1a)
 * Author: SixSixNine
 * Copyright: SixSixNine
 * Email: *****
 * License: GNU General Public License (GPL)
 */
html{
	overflow-x:auto;	/* fixes MSIE scrollbar bug DO NOT REMOVE,has no effect in Mozilla,or Opera */
						/* http://www.blooberry.com/indexdot/css/properties/position/overflowx.htm */
}
html,body{
	background-color:#2a2a2a;
	height:100%;
	padding:0px; /* required for Opera to have 0 margin */
	margin:0;
	font:11pt Verdana,sans-serif;
	cursor:default;
}

a:link, a:visited{ color: #f6b620; text-decoration: none }
a:hover, a:focus{ color: #ffee40; text-decoration: none }

.table_top {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-collapse: collapse;
	width: 845px;
	height:120px;
}
.table_top_left {
	background-image: url(logo_l.gif);
	background-repeat: no-repeat;
	width: 500px;
}
.table_top_middle {
	background-image: url(logo_m.gif);
	text-align: right;
	width: 260px;
}
.table_top_right {
	background-image: url(logo_r.gif);
	background-repeat: no-repeat;
	width: 47px;
}

/*********** MENU BAR***********/
#menubar {
	position:relative;
	left:25px;
	top:37px;
	z-index:100;
	width: 36em; /*total len*/
	text-align: left;
}
#menuwrapper {
	font:11pt Verdana,sans-serif;
}
#menubar, #menubar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 160%;
}
#menubar a {
	display: block;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	border-right: 1px solid #565656;
	font-size: .85em;
	color: #f6b620; /*main menu text color*/
}
#menubar a.trigger {
	padding: 5px 15px 5px 15px;
}
#menubar li {
	float: left;
	width: 9em;
}
#menubar li {position: relative;}
/* hide from IE mac \*/
#menubar li {position: static; width: auto;}
/* end hiding from IE5 mac */
#menubar li ul, #menubar ul li  {
	width: 11em; /*submenu len*/
}
#menubar ul li a  {
	color: #f6b620;
	border-right: 0;
	padding: 3px 12px 3px 15px;
}
#menubar li ul {
	position: absolute;
	display: none;
	background-color: #282927; /*submenu bg color*/
	border-right: 1px solid #565656;
	border-bottom: 1px solid #565656;
	filter:alpha(opacity=85);
	-moz-opacity:.85;
	opacity:0.85;
}
#menubar li:hover a, #menubar a:focus,
#menubar a:active, #menubar li.hvr a {
	color: #f6b620; /*menu selected text color*/
	background-color: #282927; /*menu selected bg color*/
}
#menubar li:hover ul, #menubar li.hvr ul {
	display: block;
}
#menubar li:hover ul a, #menubar li.hvr ul a {
	color: #f6b620; /*submenu text color*/
	background-color: transparent;
}
#menubar ul a:hover {
	background-color: #444543 !important; /*submenu selected bg color*/
	color: #ffee40 !important; /*submenu selected text color*/
}
/*********** MENU BAR END***********/

#username {
	position:relative;
	top:37px;
	z-index:20;
	color:#f6b620;
	font:12pt Verdana,sans-serif;
}
#version {
	position:absolute;
	left:48%;
	top:122px;
	z-index:10;
	color:#d4d4d4;
	font:8pt Verdana,sans-serif;
}
h1{
    margin:0px;
    font:16pt Trebuchet MS,sans-serif;
    font-weight:bold;
    color:#e9e6e6;
	line-height:1.2em;
}

form {
   margin: 0px;
}
input, input.mouseover, a.button {
	border: 1px solid #565656;
	background:#2a2a2a;
	font: 10pt Verdana,sans-serif;
	font-weight: bold;
	line-height:100%;
}

input {
    background:#2a2a2a;
    color:#d4d4d4;
    padding:2px 1px;
	margin-right: 2px;
	margin-left: 2px;
}
input[type="text"],input[type="password"]{
	background:#2a2a2a;
}
input[type="text"]:hover, input[type="password"]:hover {
    background:#2c2c2c;
	border-color:#bbb;
	cursor: default;
}
input[type="text"]:focus,input[type="password"]:focus {
	background:#2a2a2a;
	border-color:#f6b620;
}
input[type="radio"],input[type="checkbox"]{
	background:none;
	border:0px;
}
select,textarea{
	color:#d4d4d4;
	border:1px solid #565656;
	background-color: #2a2a2a;
	}
img {
	border: 0px;
	padding: 0px;
}
a.button {
	background:#2a2a2a;
	color: #d4d4d4;
	padding:4px 2px;
	text-decoration: none;
	text-align: center;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
}

a.button:visited{   
	background-color: #2a2a2a; 
	color: #d4d4d4;
}
a.button:hover{   
	background-color: #565656; 
	color: #d4d4d4;
}
a.button:active, a.button:focus {   
	border-color: #76827B;
}
a[type="wrn"].button:hover{
	background-color:#4a1a1a;
	background-image:url(../../img/sml_warn.png);
	background-repeat:no-repeat;
	background-position: 99% 1px;
}
a[type="def"].button:hover{
	background-color:#1a4a1a;
	background-image:url(../../img/sml_tick.png);
	background-repeat:no-repeat;
	background-position: 99% 1px;
}
fieldset{
	position: relative;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	top: 5px;
	background-color: #383838;
	border: 1px solid #d4d4d4;
}
fieldset.half_frame{
	width: 550px;
}
fieldset.tquarter_frame{
	width: 680px;
}
fieldset.full_frame{
	width: 760px;
}
legend{
	margin-top:-5px;
	color: #f6b620;
	background-color: #383838;
	padding: 2px 6px;
	position:absolute;
	top: -5px;
	left: 5px;
}

/*****TABLES******/
table.flat {
	border-width: 5px;
	border-spacing: 5px;
	border-style: none;
	border-collapse: collapse;
	background-color: #383838;
	text-align: left;
}
table.flat td {
	padding: 5px;
}
table.hidden {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-collapse: collapse;
	text-align: center;
}
table.top_hidden {
	width: 770px;
	border: 0px none #d4ddd8;
	border-spacing: 0px;
	border-collapse: collapse;
	text-align: left;
}
table.top_hidden td, table.hidden td {
	padding: 4px 0px;
}
table.lined {
	width: 770px;
	border-collapse: collapse;
	text-align: center;
}

table.lined, table.lined td, table.lined td.hidden{
	border-bottom: 1px solid  #383838;
	border-top: 1px solid  #383838;
	padding: 5px;
}
table.lined td.head{
	border-bottom: 3px solid  #383838;
	border-top: 3px solid  #383838;
	padding: 5px;
	padding-top: 20px;
	padding-bottom: 2px;
	font-weight:bold;
}

table.lined, table.lined tr, table.lined tr.hidden{
	border-left: 1px solid  #383838;
	border-right: 1px solid  #383838;
}
table.lined tr th{
	background-color: #484848;
	font-weight: bold;
	font-size: 11px;
	color:#f6b620;
	padding: 5px;
}
table.lined td.hidden {
	background-color: transparent;
}
table.lined td{
	background-color: #565656;
}
tr td div.gradient_p,div.gradient_pp{
	float: left;
	clear: right;
	display: table-cell;
	text-align: right;
	padding: 1px 5px;
}
tr td div.gradient_p{
	background-color:#444;
	width: 150px;
}
tr td div.gradient_pp{
	background-color:#333;
	width: 50px;
}
img.bag_icon {
	float: left;
	width: 24px; 
	height: 24px;
	border: 1px solid #585858;
	margin-left: 5px;
}

tr td.bag div,
tr td.bank div {
	position: relative;
	border: 0px;
	margin: 2px;
	background-image: url(../../img/INV/Slot_Bag.gif);
	background-repeat: repeat;
	background-color: #242424;
}
tr td.bank div {
	background-image: url(../../img/INV/Slot_Bank.gif);
	background-color: #858585;
}
tr td.bag div div,
tr td.bank div div{
	position: absolute;
	background: none;
}
tr td.bag div div img,
tr td.bank div div img{
	border: 0px;
	padding: 1px;
	width: 35px; 
	height: 35px;
}
tr td.bag div.no_slot,
tr td.bank div.no_slot{
	position: absolute;
	margin: 0px;
	width: 86px;
	height: 41px;
	background-image: url(../../img/INV/Slot_Bag_Out.gif);
}
tr td.bank div.no_slot{
	background-image: url(../../img/INV/Slot_Bank_Out.gif);
}

tr th a{
	padding-right:10px;
	background-repeat:no-repeat;
}
tr th a.ASC{
	background-image: url(../../img/arr_up.gif);
	background-position: 100% 2px;
}
tr th a.DESC{
	background-image: url(../../img/arr_dw.gif);
	background-position: 100% 6px;
}
/*****TABLES END******/

#body_main {
	position:absolute;
    left: 50%; 
    top: 150px;
    width: 800px;
    margin-left: -400px; /* half of the width */
	line-height: 120%;
	text-align: center;
	font-size: 11px;
	color:#d4d4d4;
}

.error {
	color:#f6b620;
}
.bold {
	font:13pt Trebuchet MS,sans-serif;
	font-weight:bold;
}
.small {
	font-size: 8px;
}	
.large_bold {
	font-size: 13px;
	font-weight:bold;
}
.large {
	font-size: 13px;
}
.half_line {
	font-size: 12px;
	line-height:1.6em;
}
/*****BUBBLE******/
div.bubble {
	position:relative;
    padding:7px 0px;
    background-color:#383838;
    margin-bottom:15px;
	text-align: left;
	border: 1px solid #565656;
}
div.bubble div.top {
	text-align: center;
	background-color:#565656;
	padding:7px 15px;
    margin:-7px -0px 12px -0px;
}
div.bubble div.top h1{
	color: #1a1a1a;
}
i.tl, i.tr, i.bl, i.br {
	position:absolute;
    width:4px;
    height:4px;
    overflow:hidden;
    z-index:30;
}
i.tl {
    top:0px;
    left:0px;
}
i.tr {
    top:0px;
    right:0px;
}
i.bl {
    bottom:0px;
    left:0px;
}
i.br {
    bottom:0px;
    right:0px;
}
/*****BUBBLE END******/

#body_buttom {
	font:8pt Verdana,sans-serif;
	text-align: center;
	color:#d4d4d4;
}
.table_buttom {
	background: #383838;
	border: 1px solid #565656;
	width: 800px;
	height:100px;
}
.table_buttom_left {
	width: 6px;
}
.table_buttom_middle {
	width: 784px;
}
.table_buttom_right {
	width: 6px;
}

#body_buttom a:link, #body_buttom a:visited {
    color:#C0D0CA;
    text-decoration:none;
}
#body_buttom a:hover, #body_buttom a:focus {
    text-decoration:underline;
} 
.logo_border {
	border: 1px solid #565656;
	background-color: #2a2a2a;
	padding: 6px;
}

.icon_border_0 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../img/INV/icon_border_0.png)
}

.icon_border_1 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../img/INV/icon_border_1.png)
}

.icon_border_2 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../img/INV/icon_border_2.png)
}

.icon_border_3 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../img/INV/icon_border_3.png)
}

.icon_border_4 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../img/INV/icon_border_4.png)
}

.icon_border_5 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../img/INV/icon_border_5.png)
}

.icon_border_6 {
	border: 0px;
	padding: 6px;
	width: 32px;
	height: 32px;
	background: url(../../img/INV/icon_border_6.png)
}

/*** graphs and bars ***/
.bargraph {
	font:9pt Verdana,sans-serif;
	border-collapse: collapse;
	width: 720px;
}
.bargraph td {
	padding:0;
	margin:0;
	vertical-align:bottom;
	text-align:center;
	background: url(gridline.gif) 15px bottom;
}

a.graph_link:link, a.graph_link:visited{ color: #f6b620; text-decoration: none }
a.graph_link:hover, a.graph_link:focus{ color: #ffee40; text-decoration: none }

.bargraph img{
	display:block;
	border: 1px solid #000;
}

table.stat_hidden {
	width: 720px;
	border-spacing: 2px;
	border-collapse: collapse;
	text-align: left;
}

.tot_bar {
	width: 730px;
	border:1px solid #000000;
	padding:10px;
	border-collapse: collapse;
	text-align: center;
	font-weight: bold;
}
.tot_bar a:link, .tot_bar a:visited{ color: #000; text-decoration: none }
.tot_bar a:hover, .tot_bar a:focus{ color: #f6b620; text-decoration: none }

tr td.bar{
	width: 385px;
	background-repeat: no-repeat;
	background-position: -385px;
	padding: 1px;
}
tr td.bar span{
	float: left;
	width:55%;
	text-align:right;
	margin-top: 3px;
	color: #fff !important;
}
tr td.skill_bar{
	background-image: url(../../img/bar_skill.png);
}

.faction-bar{border:1px solid black;width:100%;text-align:left;height:16px;background:url('../../img/bar_empty.gif') repeat-x;position:relative}
span.rep-data{position:absolute;width:100%;text-align:center;color:white;text-decoration:none !important;white-space:nowrap}
.bar-color{width:100%;height:16px}
.rep7 .bar-color{background:url('../../img/bar_exalted.gif') repeat-x}
.rep6 .bar-color{background:url('../../img/bar_revered.gif') repeat-x}
.rep5 .bar-color{background:url('../../img/bar_honored.gif') repeat-x}
.rep4 .bar-color{background:url('../../img/bar_friendly.gif') repeat-x}
.rep3 .bar-color{background:url('../../img/bar_neutral.gif') repeat-x}
.rep2 .bar-color{background:url('../../img/bar_unfriendly.gif') repeat-x}
.rep1 .bar-color{background:url('../../img/bar_hostile.gif') repeat-x}
.rep0 .bar-color{background:url('../../img/bar_hated.gif') repeat-x}
tr td.rep7 {color:cyan}
tr td.rep6 {color:#00ffcc}
tr td.rep5 {color:#00ff88}
tr td.rep4 {color:lime}
tr td.rep3 {color:yellow}
tr td.rep2 {color:#ee6622}
tr td.rep1 {color:red}
tr td.rep0 {color:#cc2222}


/*** link tabs ***/
#tab ul {
	padding: 0px 30px;
	margin: 0px;
	list-style: none;
}
#tab li {
	float: left;
	border: 1px solid #565656;
	border-bottom-width: 0;
}
#tab a {
	display: block;
	background: #383838;
	padding: 1em 2em;
}
#tab a:hover {
	background: #484848;
}	
#tab  #selected {
	border-color: #d4d4d4;
}
#tab #selected a {
	position: relative;
	top: 1px;
	background: #484848;
	font-weight: bold;
	padding: 1em 1.5em;
}
#tab_content {
	padding: 10px;
	border: 1px solid #d4d4d4;
	background: #484848;
	width: 740px;
	clear: both;
}

/*** Java layer tabs ***/
.jtabs {
	margin: 0;
	padding: 0px 0px 0px 30px;
	list-style: none;
}
.jtabs li {
	float: left;
}
.jtabs a.jtab-disabled:hover, .jtabs a.jtab-active {
	background: #484848;
	border-bottom-color: #484848;
}
.jtabs a.jtab-disabled {
	background: #383838;
	border: 1px solid #565656;
	border-bottom-width: 0;
}
.jtabs a  {
	position: relative;
	top: -25px;
	background: #484848;
	font-weight: bold;
	padding: 1em 1.3em;
	border: 1px solid #d4d4d4;
	text-decoration:none;
}
.jtab-container {
	border: 1px solid #d4d4d4;
	background: #484848;
	width: 760px;
	clear: both;
}
.jtab-panes { margin: 3px }

/*** item tooltips***/
.item_tooltip  td{
	float: none;
	font-size: 11px;
	color: #d4d4d4;
	border:1px solid #F0D070;
	padding:10px;
	width:auto;
	background-color:#000;
	text-align:left;
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:0.80;
}
.info_tooltip  td{
	float: none;
	font-size: 11px;
	color: #d4d4d4;
	border:0px solid #F0D070;
	padding:10px;
	width:240px;
	background-color:#000;
	text-align:left;
	filter:alpha(opacity=85);
	-moz-opacity:.85;
	opacity:0.85;
}

.answerbox {
	font-size: 11px;
	color: #d4d4d4;
	border:1px solid #F0D070;
	padding:10px;
	width:auto;
	background-color:#000;
	text-align:center;
	filter:alpha(opacity=85);
	-moz-opacity:.85;
	opacity:0.85;
}
.answerbox th {
	font:16pt Trebuchet MS,sans-serif;
    font-weight:bold;
	color:#f6b620;
	line-height:1.2em;
}
.answerbox td a {
	float:none;
	display: block;
}
